ion-toast.success-toast {
    --background: #d4edda;
    --color: #155724;
}

ion-toast.success-toast::part(message) {
    // font-style: italic;
}

ion-toast.success-toast::part(button) {
    // border-left: 1px solid #c3e6cb;
    color: #155724;
    // font-size: 15px;
}

ion-loading.custom-loading {
    --background: #e3edff;
    --spinner-color: #1c6dff;
    color: #1c6dff;
}