<ion-menu side="end" contentId="content">
    <ion-header>
        <ion-toolbar color="red4">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>

        <ion-accordion-group *ngFor="let item of pages">
            <ion-menu-toggle *ngIf="item.children?.length < 1">
                <ion-item [routerLink]="item.url" routerDirection="root" routerLinkActive="active" (click)="selectEvent(item.alias)">
                    <ion-icon [name]="item.icon" slot="start"></ion-icon>
                    <ion-label>
                        {{ item.title }}
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-accordion *ngIf="item.children?.length > 0" (click)="item.open = !item.open">
                <ion-item slot="header">
                    <ion-icon [name]="item.icon" slot="start"></ion-icon>
                    <ion-label>{{ item.title }}</ion-label>
                </ion-item>
                <app-accordion [item]="item" slot="content"></app-accordion>

                <!-- <app-accordion slot="content" [item]="item"></app-accordion> -->

            </ion-accordion>
        </ion-accordion-group>
    </ion-content>
</ion-menu>
