<app-header></app-header>
<app-side-menu-left></app-side-menu-left>
<app-side-menu-right></app-side-menu-right>

<div class="preview content-box" id="content" *ngIf="(user$ | async) as user">
    <ion-avatar (click)="changeImage()">
        <img *ngIf="user; else placeholder_avatar" [src]="user.imageUrl" />
        <ng-template #placeholder_avatar>
            <div class="fallback">
                <p>Select avatar</p>
            </div>
        </ng-template>
    </ion-avatar>
    <ion-list>
        <ion-list>
            <ion-item button (click)="getRoles()">
                <ion-icon slot="start" name="log-out"></ion-icon>
                <ion-label>Cerrar Sesion</ion-label>
            </ion-item>
        </ion-list>
        <ion-item lines="full">
            <ion-icon id="theme-icon" slot="start" name="moon"></ion-icon>
            <ion-label>
                Toggle Dark Theme
            </ion-label>
            <ion-toggle slot="end" (ionChange)="toggleTheme($event)"></ion-toggle>
        </ion-item>
    </ion-list>

</div>
