<app-header></app-header>
<app-side-menu-right></app-side-menu-right>
<div class="preview content-box">
    <ion-avatar (click)="changeImage()">
        <img *ngIf="profile?.imageUrl; else placeholder_avatar" [src]="profile.imageUrl" />
        <ng-template #placeholder_avatar>
            <div class="fallback">
                <p>Select avatar</p>
            </div>
        </ng-template>
    </ion-avatar>
    <ion-list>
        <ion-item lines="full">
            <ion-icon id="theme-icon" slot="start" name="moon"></ion-icon>
            <ion-label>
                Toggle Dark Theme
            </ion-label>
            <ion-toggle slot="end" (ionChange)="toggleTheme($event)"></ion-toggle>
        </ion-item>
    </ion-list>
    <div class="ion-page" id="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>Inbox</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-button expand="block" (click)="openMenu()">Open Menu</ion-button>
        </ion-content>
      </div>
</div>
