<ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <fom [formGroup]="credentials" (ngSubmit)="login()">

        <ion-item fill="solid" class="ion-margin-bottom">
            <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
            <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is invalid</ion-note>
        </ion-item>

        <ion-button type="submit">login</ion-button>
        <ion-button type="button">login</ion-button>
    </fom>

</ion-content>